[knxglobals]

[knxbackbone]

[knxmon]

[knxtrace]
dbHost		=	localhost
dbUser		=	<userId>
dbPassword	=	<password>
dbName		=	knxLog

[handler]

[hdlpellet]

[hdlsolar]

[hdlheating]

[hdlheatpump]

[sendb1]
senderAddr	=	1025

[sendb2]

[sendu16]
senderAddr	=	1025

[sendf16]
senderAddr	=	1033
